// @source: https://tailwindcomponents.com/component/login-form-with-floating-labels
.auth-card-container {
    @apply bg-gray-100 flex flex-col justify-center min-h-screen py-6 sm:py-12;

    .auth-card {
        @apply py-3 relative sm:max-w-xl sm:mx-auto;

        .backward-card {
            @apply -skew-y-6 absolute bg-gradient-to-r from-blue-300 inset-0
                shadow-lg sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl to-blue-600 transform;
        }

        .front-card {
            @apply bg-white px-4 py-10 relative shadow-lg sm:rounded-3xl sm:px-12 sm:py-16;

            .card-container {
                @apply max-w-md mx-auto;

                .title {
                    @apply text-center;

                    .form-title {
                        @apply font-semibold mb-2 text-2xl;
                    }
                }

                form {
                    @apply leading-6 py-8 sm:text-lg sm:leading-7 space-y-4 text-base text-gray-700;
                }
            }
        }
    }
}
