/node_modules
/public/hot
/public/storage
/public/dist
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/assets
**.zip

resources/views/vendor/**/*
resources/sass/apps/**/*
public/mix-manifest.json
public/mix-manifest.json
