# neon reference https://phpstan.org/config-reference for more info
includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    # strict mode bewtween 0-9
    # ref: https://phpstan.org/config-reference#rule-level
    level: 9

    checkMissingIterableValueType: false
