@media (prefers-color-scheme: dark) {
    body {
        &.with-bg-image {
            background-image: url("/assets/images/auth/bg-dark.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }

        height: 100%;
        width: 100%;
        font-family: $font-family-sans-serif;

        @apply dark:bg-gray-900;
    }
}
