span[role="alert"] {
    strong {
        @apply text-sm text-red-400 mt-2;
    }
}

.input-container {
    @apply relative;

    input {
        @apply text-base w-full px-4 py-[0.5rem] rounded-md border border-blue-200 text-gray-900
                focus:border focus:border-blue-300 peer-focus:outline-none
                focus:outline-none transition-colors duration-200
                dark:bg-gray-700 dark:border-gray-600 dark:focus:border-gray-500
                selection:bg-gray-500;

        &[name="password"] {
            @apply pr-10 #{!important};
        }
    }

    .eye-toggle {
        @apply absolute right-3 top-[12px];

        svg {
            @apply h-[18px] fill-gray-500 transition-colors duration-150;

            &:hover {
                @apply fill-gray-700;
            }

            &#eye-close {
                @apply fill-gray-800;

                &:hover {
                    @apply fill-gray-700;
                }
            }
        }
    }
}

.submit-button-container {
    @apply relative pt-4;

    button {
        @apply bg-blue-500 text-base text-white rounded-[3px] px-4 py-1;
    }

    .btn-link {
        @apply text-sm ml-5 mt-[7px] hover:text-blue-500 transition-colors duration-200
            float-right cursor-default dark:text-gray-400 dark:hover:text-gray-300
            cursor-pointer;
    }
}
